.header-wapper{
    display: block;
    width: 100%;
    // height: 200px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.19);
    // backround-image: linear-gradient(160deg,#02CB9F, #2623FA); 
    // background-image: linear-gradient(to right, #acb6e5 , #86fde8 );
    // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.ant-layout-header {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.19) !important;
    background: rgba(255,255,255, 1) !important
}

.logo{
    display: inline-block;
    .logo-text {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
        color: rgba(0,0,0,0.55);
    }
}
